#body {
    margin: 0;
    padding: 0;

}


.ticon a {
    display: inline;
    padding: 10px;
    float: left;
    font-size: 20px;

}



#topbar
{
background-color: #76a0b5;
height: 50px;
width: 100%;
}


#topbar ul {
    margin-top: -16px
}

#topbar ul li {
list-style-type: none;
display: inline-block;
padding: 9px;
float: right;


}

#topbar ul a {
color: white;
/*background-color: hotpink;*/
border-radius: 60px;
height: 30px;
width: 90px;
font-size: 20px;
margin-top: 5px;
font-family: lato;
}


#topbar ul li a i{

}
